

/* Imagen del banner horizontal */

.banner-company {
    width: 100vw;
    height: 400px;
    position: relative;

    background-image: url('../images/banner_nosotros.jpeg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sombreado del banner */

.banner-company::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

/* Posición del título */
.banner-company h1 {
    position: relative;
    z-index: 1;
    color: white;
}

.company-content{
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    box-sizing: border-box;
}

.company-description {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.company-content h2 {
    color: #fff;
    width: 13%;
    border-radius: 50px 10px 50px 10px;
    margin-bottom: 12px;
    text-align: center;
    background: linear-gradient(45deg, #0066FF, #00FFFF);
    margin-left: 15px;
}

.company-description p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: justify;
    color: #4A4A4A;
}

.company-predescription h2 {
    color: #fff;
    width: 26%;
    border-radius: 50px 10px 50px 10px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-top: 5px;
    background: linear-gradient(45deg, #0066FF, #00FFFF);
    margin-left: 15px;
    text-align: center;
    line-height: 1.35;
}

.point {
    width: 97%;
    margin: 20px;
    display: flex;
    gap: 40px;
}

.point-content {
    width: 60%;
}

.img-telecomu {
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-telecomu img {
    width: 100%;
    height: auto;
}

.point h3 {
    color: #fff;
    width: fit-content; /* el elemento se adapta al tamaño de su contenido */
    border-radius: 50px 10px 50px 10px;
    margin: 40px 0px 12px 0px;
    padding: 0 20px;
    background: linear-gradient(45deg, #0066FF, #00FFFF);
}

.company-predescription p {
    margin: 12px 0px 25px 0px;
    line-height: 1.6;
    text-align: justify;
    color: #4A4A4A;

}

.img-telecomu img {
    width:97%;
    height:auto;
    display: block;
    justify-content: right;
    align-items: center;
}



